.column-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px; /* Add gap between columns */
}

.column {
    padding: 10px;
    border: 1px solid #ccc; /* Add border for visual separation */
}

.vertical-slider-container {
    display: block;
    margin-right: 20px; /* Add margin to separate columns */
    vertical-align: top; /* Align the columns to the top */

    /* Add additional styling as needed */
}
    
.vertical-slider {
    width: 20px; /* Set the width of the slider */
    height: 200px; /* Set the height of the slider */
    writing-mode: bt-lr; /* Vertical writing mode */
    appearance: slider-vertical;
}

.rangeVal {
    display: inline-block;
    text-align: center;
    font-size: xx-large;
}

/* Create columns for the sliders */
#radiusContainer, #scaleContainer, #velocityContainer {
    /*float: left;*/
    width: 200px; /* Set the width of each column */
}